body {
  background: #eee;
}
.container {
  min-width: 200px;
}
.primary-clr {
  color: rgb(221, 41, 9);
}
.primary {
  background: rgb(221, 41, 9);
}
.primary-btn-clr {
  color: #777;
}
.primary-btn {
  background-color: #777;
}
.margin-top {
  margin-top: 0px;
}
.header {
  background: #fff;
  height: 80px;
}
.navbar-header {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-size: 28px;
}
.navbar-header a,
.navbar-header a:hover,
.navbar-header a:visited {
  color: red;
  font-weight: bold;
}
.navbar-right {
  margin-top: 20px;
  width: 300px;
}
.navbar-right a {
  margin-right: 20px;
  margin-top: 0px;
  float: left;
  width: 100px;
  margin-right: 0;
  color: #333;
}
.navbar-right a:last-child {
  margin: 0;
}
.nav {
  border-bottom: 1px solid #ccc;
}
a:link,
a:hover {
  text-decoration: none;
}
.page-wrapper {
  padding-top: 0px;
  padding-bottom: 25px;
}
.form {
  padding-top: 5px;
  padding-bottom: 15px;
}
.srchBtn {
  background: #ccc;
}
.detailSection {
  padding-top: 10px;
  clear: left;
}
.detailSection h4 {
  background: orange;
  padding: 4px 10px;
  height: 30px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.detail-recipe {
  width: 50%;
  float: right;
  padding-left: 20px;
}
.detail-image {
  width: 40%;
  float: left;
  margin-bottom: 20px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}
.recipeWrapper h4 {
  font-size: 20px;
  color: rgb(58, 58, 58);
  margin-bottom: 20px;
}
.recipeWrapper h4 a {
  color: rgb(58, 58, 58);
}
.recipeWrapper h4 a:hover {
  text-decoration: none;
}
.category-mnu-wrapper {
  padding: 0 15px;
}
.selCategory {
  margin-bottom: 0px;
  padding: 3px;
  height: 10%;
}
.categoryCaption {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  cursor: pointer;
  background: #eee;
  padding: 0;
  width: 100%;
  height: 20px;
}
.categoryCaption h3 {
  text-align: center;
  color: #111;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  font-weight: bold;
  /* background: rgba(0, 0, 0, 0.2); */
}
.srch-form {
  width: 50%;
  padding: 2px;
  height: 40px;
  margin-bottom: 14px;
}
.srch-form input {
  width: 90%;
  float: left;
  color: #111;
  border: none;
  background: #ccc;
}
.srch-form button {
  border: none;
  height: 33px;
  width: 32px;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin-left: -1px;
}
.imgCategory img {
  height: 140px;
  cursor: pointer;
}
.recipeItem {
  padding-bottom: 12px;
  margin-bottom: 10px;
}
.recipeItem .card-body h6 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.recipeItem .card {
  background: #fff;
  height: 100%;
  padding-bottom: 10px;
}
.ctgry-card {
  padding-bottom: 0;
}
.recipeDetail {
  background: #fff;
  padding: 40px;
}
.has-error {
  color: red;
}
.user-favs {
  margin-top: 10px;
}
footer {
  text-align: center;
  background: #fff;

  padding-top: 20px;
  padding-bottom: 20%;
}

.whiteBkd {
  background: #fff;
}

.recipeHeader {
  width: 100%;
  padding: 20px;
  color: #111;
  min-height: 20px;

  display: block;
  margin-bottom: 5px;
}
.recipeHeader a {
  color: #111;
  font-size: 15px;
}
/* @media (max-width: 500px) {
  .recipeItem {
    width: 100%;
  }
} */
i {
  margin-right: 5px;
}
.recipeWrapper h5 {
  margin-bottom: 25px;
}
.card-img-top {
  margin-bottom: 0px;
  width: 100%;
}
a {
  margin-right: 5px;
}
.form-wrapper {
  background: #fff;
  padding: 25px;
}
.form input {
  background: #ccc;
}
.userPanel {
  background: #fff;
  padding: 20px;
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
@media (min-width: 993px) and (max-width: 1198px) {
  .container {
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .selCategory {
    margin-bottom: 0px;

    /* height: 150px; */
  }
  .categoryCaption {
    /* top: 75%; */
    width: 100%;
  }
  .categoryCaption h3 {
    font-size: 15px;
    font-weight: bold;
    /* background: rgba(0, 0, 0, 0.4); */
  }
}
@media (min-width: 771px) and (max-width: 992px) {
  .container {
    max-width: 900px;
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .selCategory {
    margin-bottom: 0px;
  }
  .categoryCaption {
    /* top: 65%; */
    width: 100%;
  }
  .categoryCaption h3 {
    font-size: 12px;
    font-weight: bold;
    /* background: rgba(0, 0, 0, 0.4); */
  }
}
@media (min-width: 572px) and (max-width: 770px) {
  .header {
    height: 60px;
  }
  .container {
    max-width: 700px;
  }
  .navbar-header {
    width: 20%;
    float: left;
    padding-left: 15px;
  }
  .navbar-right {
    clear: none;
    float: right;
  }
  .navbar-right a {
    padding: 0;
    margin: 0;
  }
  .srch-form {
    width: 90%;
    padding: 2px;
    height: 40px;
    margin-bottom: 14px;
  }
  .row {
    margin: 0;
  }
  .CategoryLinks {
    margin: 0;
    padding: 0;
  }
  .selCategory {
    /* height: 6%; */
  }
  .categoryCaption {
    /* top: 60%; */
    width: 100%;
  }
  .categoryCaption h3 {
    font-size: 14px;
    font-weight: bold;
    /* 
    background: rgba(0, 0, 0, 0.4); */
  }

  .recipeItem {
    width: 50%;
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
@media (max-width: 570px) {
  .header {
    height: 50px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .srch-form {
    width: 100%;
    padding: 2px;
    height: 40px;
    margin-bottom: 14px;
  }
  .navbar-header {
    width: 90px;
    font-size: 15px;
    float: left;
    padding-left: 15px;
  }
  .navbar-header a {
    font-size: 18px;
    color: red;
  }
  .navbar-right {
    width: 200px;
    float: right;
  }
  .navbar-right a {
    width: 50px;
    margin-right: 10%;
  }

  .recipeHeader {
    height: 30px;
  }
  .recipeHeader h4 {
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .recipeItem {
    width: 50%;
    font-size: 16px;
  }
  .recipeItem .card-img-top {
    margin-bottom: 0px;
  }
  .recipeItem .card-body {
    padding: 10px 0;
  }
  .detailSection {
    padding-top: 0px;
  }
  .detailSection h4 {
    background: orange;
    padding: 4px 10px;
  }
  .recipeDetail {
    padding: 20px 3px;
  }
  .category-mnu-wrapper {
    padding: 0;
  }
  .CategoryLinks {
  }
  .row {
    margin: 0;
  }
  .selCategory {
    width: 25%;
    font-size: 16px;
    /* padding: 5px;
    height: 5%;
    margin-bottom: 0px; */
  }
  .imgCategory {
    padding: 0;
  }
  .imgCategory img {
    height: 100px;
    width: 100%;
    padding-bottom: 0;
  }
  .categoryCaption {
    font-size: 14px;
    padding: 0;
    /* top: 60%; */
    font-weight: bold;
  }
  .categoryCaption h3 {
    font-size: 12px;
    font-weight: bold;
    /* padding: 2px 0;
    background: rgba(0, 0, 0, 0.8); */
    /* width: 97%; */
  }
  .card-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 1em;
  }
  .detailHeader h3 {
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 20px;
  }
  .detailHeader a {
    color: red;
  }
  .detailHeader h5 {
    font-size: 16px;
  }

  .detailHeader img {
    margin-bottom: 10px;
  }
  footer {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

@media (max-width: 300px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .card-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 0.8em;
  }
  .selCategory {
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 50px;
  }
  .categoryCaption {
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: rgb(112, 111, 111);
    color: #111;

    text-align: left;
  }
  .categoryCaption h3 {
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #ccc;
  }
  .recipeItem {
    width: 100%;
  }
}
